<div class="sidebar">

        <div class="sidebar-section">
             <h5><span>Recommended Sites</span></h5>
             <a href="https://www.frctutorials.com" title="FRC Tutorials"><img src="{{ site.baseurl }}/assets/images/FRCTutorials.png" alt="FRCTutorials" /></a>
             <br/><br/>


           <a href="https://www.facebook.com/groups/FRCShareandLearn/" title="Share and Learn"><img src="{{ site.baseurl }}/assets/images/ShareandLearn.png" alt="Quantum Stingers" /></a>
           <br /><br/>


           <a href="http://www.droidsrobotics.org" title="8027 Team Page"><img src="{{ site.baseurl }}/assets/images/8027.png" alt="8027 Team Page" /></a><br /><br />
        </div>

</div>
